<h1>Portfolio Show</h1>
<%#2 binding.pry %>
<%# @portfolio_items.each do |port| %>
	<p><b><%= @portfolio_item.title %></b></p>
	<p><%= @portfolio_item.subtitle %></p>
	<p><%= @portfolio_item.body %></p>
