<h1>HomePage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog</h1>
<%= @posts.inspect %><br><br>

<h1>Skills</h1>
<%= @skills.inspect %><br><br>

<%= link_to 'Portfolio', portfolios_path %> |
<%= link_to 'Blog', blogs_path %>